@font-face {
    font-family: 'Norse-Bold';
    src: url("images/Norse-Bold.otf");
  }
  


body {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    
}

.leaves {
padding: 250px;
max-width: 250px;
padding-bottom: 600px;
background-image: url(images/Leaves-odin.avif);
background-size: auto 140%;
margin: 0;

}

.account {
    padding: 100px;
}

.odinbox {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 0;
    position: absolute;
    bottom: 50px;
    font-family: "Norse-Bold", sans-serif;
    font-size: 60px;
    padding-top: 15px;
    padding-left: 175px;
    padding-right: 184px;
    margin: 0;
    bottom: 500px;
    left: 0px;
    display: flex;

}

.odinpic {
    background-image: url(images/odin-lined.png);
}

.account {
    padding: 0px;
    margin: 0;
}

.top-box {
    font-weight: bold;
    background-color: rgb(210, 207, 207);
    padding: 100px;
    margin: 0;
    padding-top: 120px;
    padding-left: 40px;

}

.flex {
    display: flex;
    flex-direction: column;
}

.form {
    margin-top: 20px; /* Optional margin */
}

.form-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.flex-form {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
}

.form-row {
    display: flex;
    flex-basis: 50%; /* Each row takes up 50% of the container width */
}

.form-field {
    margin-right: 10px; /* Optional margin between fields */
    margin-bottom: 15px;
    flex: 1; /* Each field takes up equal space within the row */
}

.form-field label {
    font-weight: bold;
}

.form-field input {
    width: 100%; /* Optional: Make inputs take full width */
}